body{
  background-color: bisque;
}

.class-1{
  background-color: rgb(166, 255, 0);
}
.class-1{
  border: black 5px solid;
  padding-left: px;
}
.class-2{
  padding-left: 300px;
}
.p-1{
  padding: 150px;
}

.p-2{
  padding-left: 60px;
}


.p-3{
  padding-left: 50px;
  color: rgb(200, 176, 230);
  float:left;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  border: black 5px solid;
}
.class-6{
  padding-left: 60px;
}




.p-4{
  padding-left: 100px;
}



.p-5{
  padding-left: 100px;
}



.p-7{
  padding-left: 100px;
}




.p-8{
  padding-left: 100px;
}








