.class-2{
    background-color: rgb(255, 213, 0);
}

.class-3{

    background-color: brown;
}
.class-4{
    background-color: blueviolet;
}
body{
    background-image: url("css.png");

}
 .class-5{
    background-color: brown;
 }
 .class-6{
    background-color: aqua;
 }
 .class-7{
    background-color: aqua;
 }
 .class-8{
    background-color: aqua;
 }