



body{
    background-image: url("css.png");

}
 .class-5{
    background-color: brown;
 }
 .class-6{
    background-color: aqua;
 }
 .class-7{
    background-color: aqua;
 }
 .class-8{
    background-color: aqua;
 }

 .setion{
    float: left;
    width: 40%;
 }
 .giorgi{
    float: left;
    width: 40%
 }
 .gvrt{
    float: left;
    width: 40%;
 }