.submit{
    
    position: absolute;
    border: 1px solid black;
    width: 80px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
    margin-left: 10px;
    box-shadow: 0 4px 15px rgba(0, 128, 0, 0.5);

    
}
.submit:hover{
    background-color: orangered;
    transition: 0.5s;
    box-shadow: 0 4px 15px rgba(255, 165, 0, 0.5);
}

.input{
    border-radius: 5px;
        color: red;
        justify-content:center ;
        align-items: center;
        

}

.input:hover{
    transition: 1s;
    background-color: aqua;
    box-shadow: 0 4px 15px rgba(0, 0, 255, 0.5);

}