<<<<<<< HEAD
.p-1{
    border-radius: 10px;
    padding: auto;
    background-color: aqua;
    padding-left: 300px;
    
}

.p-2{
    border-radius: 10px;
=======
.p-1{
    border-radius: 10px;
    padding: auto;
    background-color: aqua;
    padding-left: 300px;
    
}

.p-2{
    border-radius: 10px;
>>>>>>> fb0eba0a7454f2dc3b511a76a20cf9f2ec4ee15a
}