<<<<<<< HEAD
button{
    background-color: aqua;
color: brown;
}


button:hover{
    color: brown;
    background-attachment: green;
}


button:active{
    color: antiquewhite;
    background-color: blue;
    width: 200px;
    padding: 20px solid red;
    
}


.p-5{
    width: 400;
    height: 200;
    padding: 30px 15px;
border: 5px solid red;
background-color: aqua;
margin: 50px 50px 50px 15 px;

}

.p-3{
    width: 260px; 
            height: 260px;
            padding: 20px;
            margin: 10px 30px; 
            border-top: 5px solid black;
            border-right: 10px solid black;
            border-bottom: 15px solid black;
            border-left: 20px solid black;
            box-sizing:
=======
button{
    background-color: aqua;
color: brown;
}


button:hover{
    color: brown;
    background-attachment: green;
}


button:active{
    color: antiquewhite;
    background-color: blue;
    width: 200px;
    padding: 20px solid red;
    
}


.p-5{
    width: 400;
    height: 200;
    padding: 30px 15px;
border: 5px solid red;
background-color: aqua;
margin: 50px 50px 50px 15 px;

}

.p-3{
    width: 260px; 
            height: 260px;
            padding: 20px;
            margin: 10px 30px; 
            border-top: 5px solid black;
            border-right: 10px solid black;
            border-bottom: 15px solid black;
            border-left: 20px solid black;
            box-sizing:
>>>>>>> fb0eba0a7454f2dc3b511a76a20cf9f2ec4ee15a
}