<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    
    background-image: url('./wilmer-martinez-SQxcZIIZHV8-unsplash.jpg');
    background-size: cover;
    background-position: bottom;

    margin-left: 930px;
    margin-top: 450px;

    overflow: hidden;

    box-shadow: 5px 5px 25px rgb(137, 137, 137);

    transition: 0.25s;
}

.parent:hover {
    box-shadow: -5px -5px 25px rgb(137, 137, 137);
    width: 700px;
}

.parent:active {
    width: 500px;
}

.child {
    height: 100%;
    padding-top: 140px;
    color: white;
    text-align: center;
    background-color: rgba(8, 66, 94, 0.4);
        
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.child h1 {
    font-size: 70px;
}

.child p {
    font-size: 26px;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    
    background-image: url('./wilmer-martinez-SQxcZIIZHV8-unsplash.jpg');
    background-size: cover;
    background-position: bottom;

    margin-left: 930px;
    margin-top: 450px;

    overflow: hidden;

    box-shadow: 5px 5px 25px rgb(137, 137, 137);

    transition: 0.25s;
}

.parent:hover {
    box-shadow: -5px -5px 25px rgb(137, 137, 137);
    width: 700px;
}

.parent:active {
    width: 500px;
}

.child {
    height: 100%;
    padding-top: 140px;
    color: white;
    text-align: center;
    background-color: rgba(8, 66, 94, 0.4);
        
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.child h1 {
    font-size: 70px;
}

.child p {
    font-size: 26px;
>>>>>>> fb0eba0a7454f2dc3b511a76a20cf9f2ec4ee15a
}