<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(Screenshot\ 2024-06-02\ 202916.png);
    background-size: cover;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(Screenshot\ 2024-06-02\ 202916.png);
    background-size: cover;
>>>>>>> fb0eba0a7454f2dc3b511a76a20cf9f2ec4ee15a
}